*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", serif;
}
input, button, textarea {
  outline: none;
}
a {
  outline: none;
  text-decoration: none;
}
a:focus, a:visited, a:active {
  color: white;
}