.homePage {
    width: 100%;

}
.header {
    position: sticky;
    top: 0;
    padding: 15px 25px;
    background: #EDEAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profileBtn {
    font-size: 18px;
    font-weight: 700;
    color: rgb(75, 75, 226);
    padding: 10px 15px;
    border: 2px solid rgb(75, 75, 226);
    border-radius: 12px;
}
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}