.message {
    text-align: center;
}
.text {
    font-size: 18px;
    text-align: center;
}
.location {
    margin: 10px 0;
}
.button {
    cursor: pointer;
    transition: 0.15s;
    width: 20%;
    margin: 35px auto;
    padding: 10px 15px;
    border: 2px solid rgb(75, 75, 226);
    color: rgb(75, 75, 226);
    font-weight: 500;
}
.button:hover {
    background: rgb(75, 75, 226);
    color: white;
}